@import "../../app.scss";
.contact{
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap:50px;
    width:80%;
    overflow: hidden;
    @include mobile{
        flex-direction: column;
        width: 100%;
        height: fit-content;
        align-items: start;
        
    }
    @include tablet{
        flex-direction: column;
        width: 100%;
        height: fit-content;
        align-items: start;
       
           
    }



    .textContainer{
        flex:1;
        display: flex;
        flex-direction: column;
        gap: 30px;  
        @include mobile{
            margin-top: 2.5rem;
            margin-left: 2rem;
        }
        @include tablet{
            margin-top: 5rem;
            margin-left: 2rem;
        }

        h1{
            font-size: 80px;
            line-height: 90px;
            @include mobile{
                font-size: 2rem;
            }
            @include tablet{
                font-size: 4rem;
                line-height: 8rem;
            }
        }

        span{
            font-weight: 300;
        }
    }


    .formContainer{
        flex:1;
        position: relative;
        @include mobile{
            width: 80%;
            padding-bottom: 1rem;
            margin: auto;
        }
        @include tablet{
            width: 80%;
            padding-bottom: 1rem;
            margin: auto;
        }

        .phoneSvg{
            position: absolute;
            margin: auto;
            z-index: -1;
            width: 450px;
            height: 450px;
            @include mobile{
                width: 300px ;
                height: 300px;
            }
            @include tablet{
                width: 400px ;
                height: 400px;
            }
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 10px;

            input , textarea{
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                outline: none; 
                transition: 0.3s;
                border-radius: 5px;
            } 
        

            button{
                padding: 10px;
                border: none;
                background-color: orange;
                cursor: pointer;
                border-radius: 5px;
                font-weight:600

            }
        }

       
    }
}